
      <form [formGroup]="formGroup">
            <mat-vertical-stepper  formArrayName="form">
                  <mat-step [formGroupName]="i" *ngFor="let group of formGroup.controls.form.controls; let i = index">
                        <ng-template matStepLabel>Due Dates </ng-template>
                        <div    class="content-bg">
                              <mat-card class="container mat-elevation-z8"  >
                                    <mat-card-header>
                                          <mat-card-title>Tution Fee and Due Dates - Senior Kg</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content >
                                          <table mat-table #table [dataSource]="instDataSource"  matSort aria-label="Elements" class="studentTable" >
                                                <ng-container matColumnDef="inst">
                                                      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Installments</th>
                                                      <td mat-cell *matCellDef="let data">{{data.inst}}</td>
                                                </ng-container>
            
                                                <ng-container matColumnDef="dueDate">
                                                      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Due Date</th>
                                                      <td mat-cell *matCellDef="let data">
                                                            <mat-form-field>
                                                                  <input matInput [matDatepicker]="endDate" placeholder="Due Date" >
                                                                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                                                  <mat-datepicker #endDate ></mat-datepicker>
                                                            </mat-form-field>
                                                      </td>
                                                </ng-container>
            
                                                <ng-container matColumnDef="dueAmount">
                                                      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Due Amount</th>
                                                      <td mat-cell *matCellDef="let data">
                                                            <mat-form-field>
                                                                  <input matInput  placeholder="Due Amount" >
                                                            </mat-form-field>
                                                      </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedInstColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedInstColumns;"></tr>
            
                                          </table>
                                    </mat-card-content>
                                    <div fxLayout="row" fxLayoutAlign="end end ">
                                          <button mat-button matStepperPrevious>Back</button>
                                          <button mat-button matStepperNext>Next</button>
                                    </div>
                              </mat-card>
                        </div>
                  </mat-step>
            </mat-vertical-stepper>
      </form>
      
 
