
      <mat-horizontal-stepper #stepper [linear]="isLinear">
            <mat-step [stepControl]="form">
                  <form [formGroup]="form">
                        <ng-template matStepLabel>Academic Year</ng-template>
                              <div *ngFor="let control of gradesArray.controls; let i =index;">
                                    
                                    <section>
                                          <mat-checkbox class="chkBox" checked="true"  [formControl]="control" id="chBox{{i}}">
                                                <label for = chBox{{i}}>{{grades[i]}}</label>
                                          </mat-checkbox>
                                    </section>
                                  
                              </div>
                    
                        <div fxLayout="row" fxLayoutAlign="end end ">
                              <button mat-button matStepperNext (click)="up()">Next</button>
                        </div>
                  

                  </form>
            </mat-step>
      


<mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Division</ng-template>
            <div    class="content-bg">
                  <mat-card class="container mat-elevation-z8"  >

                        <mat-card-header>
                              <mat-card-title>Class and Division Details</mat-card-title>
                        </mat-card-header>
                        <mat-card-content >
                              <table mat-table #table [dataSource]="dataSource"  matSort aria-label="Elements" class="studentTable" >
                                    <ng-container matColumnDef="slno">
                                          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Select Class</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox checked="true"></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="class">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header >Class</th>
                                          <td mat-cell *matCellDef="let data">{{data.str}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="A">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>A</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox checked="true"></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="B">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>B</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox checked="true"></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="C">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>C</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox checked="true"></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="D">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>D</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox checked="true"></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="E">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>E</th>
                                          <td mat-cell *matCellDef="let data" >
                                                <mat-checkbox ></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="F">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>F</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="G">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>G</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox></mat-checkbox>
                                          </td>
                                    </ng-container>
                                    <ng-container matColumnDef="H">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header>H</th>
                                          <td mat-cell *matCellDef="let data">
                                                <mat-checkbox></mat-checkbox>
                                          </td>
                                    </ng-container>






                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                              </table>
                        </mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="end end ">
                              <button mat-button matStepperPrevious>Back</button>
                              <button mat-button matStepperNext>Next</button>
                        </div>
                  </mat-card>
            </div>
      </form>
</mat-step>
      </mat-horizontal-stepper>
                        
