<button mat-raised-button (click)="addItem()">
      add item
</button>
<form [formGroup]="formGroup">
      <mat-horizontal-stepper  formArrayName="form">
            <mat-step [formGroupName]="i" *ngFor="let customerGroup of formGroup.controls.form.controls; let i = index">
                  <ng-template matStepLabel>Step {{i + 1}}</ng-template>
                  <mat-form-field>
                        <input matInput placeholder="Address" formControlName="cont" required>
                  </mat-form-field>
                  <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                  </div>
            </mat-step>
      </mat-horizontal-stepper>
</form>
