
<div [formGroup]="form">
      <h5> Please input the fee headers which comprises one installment of fees</h5>
      <div formArrayName="feeStructure" >
        
             <div *ngFor="let group of feeStructureArray.controls; let i =index" [formGroupName]="i" 
                  fxLayout="row" fxLayoutAlign="start center " >
                  <mat-form-field class="feeSetup">
                        <input matInput placeholder="Fee Type"  formControlName="feeType" >
                  </mat-form-field>
                  <mat-form-field  class="feeSetup">
                        <input matInput placeholder="Description"  formControlName="description">
                  </mat-form-field>
                  <mat-form-field class="feeSetup">
                        <input matInput placeholder="Late Fee/day" formControlName="lateFee">
                  </mat-form-field>
                  <button mat-icon-button color="warn" (click)="addFees()"> 
                        <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="removeFees(i)">
                        <mat-icon>delete_sweep</mat-icon>
                  </button>
             </div>

      </div>
      <button mat-button (click)="onSubmit()">Submit</button>
</div>
