<div class="content-bg">
      <!--      content-bg example-full-width-->
      <mat-card class="example-full-width"  fxLayoutAlign="center center "  >
            <mat-card-header>
                  <mat-card-title class="title">Sign in</mat-card-title>

            </mat-card-header>

            <mat-card-content >
                  <form [formGroup] = "reactiveForm"  class="loginForm">
                        <div fxLayout="column" fxLayoutAlign="center center " class="test">
                        <div fxLayout="column">
                              <h3> Use your registered mobile no or email to login</h3>
                              <mat-form-field class="example-full-width">
                                    <input matInput type="email" placeholder="First Name" formControlName="firstName">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                    <input matInput type="email" placeholder="Last Name" formControlName="lastName">
                              </mat-form-field>
                              <div formGroupName="address" fxLayout="column" >
                                    <mat-form-field class="example-full-width">
                                          <input matInput type="Address Type" placeholder="Address Type" formControlName="addressType">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                          <input matInput type="Expiry Date" placeholder="Expiry Date" formControlName="expiryDate">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                          <input matInput type="email" placeholder="Street Address" formControlName="streetAddress">
                                    </mat-form-field>
<!--                                    <mat-form-field class="example-full-width"  placeholeder = "State" formControlName="state">-->
<!--&lt;!&ndash;                                          <mat-label>State</mat-label>&ndash;&gt;-->
<!--                                          <mat-select>-->
<!--                                                <mat-option *ngFor="let state of states" [value]="state.value">-->
<!--                                                      {{state.viewValue}}-->
<!--                                                </mat-option>-->
<!--                                          </mat-select>-->
<!--                                    </mat-form-field>-->



                                    
                                    <mat-form-field class="example-full-width">
                                          <input matInput type="email"  placeholder="Zip Code" formControlName="zipcode">
                                          <mat-error>
                                                <span *ngIf="!zipcode.valid && zipcode.touched ">
                                                      Please enter Valid Zipcode !!!</span>
<!--                                                <span *ngIf="reactiveForm.get('zipcode')?.pattern && reactiveForm.get('zipcode').touched">-->
<!--                                                      Value should be 5 digit number.</span>-->
                                                
                                          </mat-error>
                                      

                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                          <input matInput type="email" placeholder="City" formControlName="city">
                                    </mat-form-field>
                                    <button mat-raised-button  (click)="login()"> Login</button>
                              </div>

                        </div>
                        </div>
                  </form>

            </mat-card-content>
      </mat-card>
</div>
