.content-bg {

      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: gray;
}
.example-full-width {
      width: 80%;
}

.title {
      color: darkmagenta;
}
